CRON_SCHEDULE=*/5 * * * *
RUN_ON_START=false
LOG_LEVEL=info

R2_ACCOUNT_ID=
R2_ENDPOINT=
R2_BUCKET_NAME=infoclic
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

HUBSPOT_ACCESS_TOKEN=
HUBSPOT_IDENTITY_PROPERTY=documento_de_identidad

HUBSPOT_BATCH_DELAY_MS=100
